<!DOCTYPE html>
<html>
<head>
    {% block title %} <title>Atrask_KAUNA | Renginio_Info</title> {% endblock %}

    {% block includes %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bower/sweetalert/dist/sweetalert.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href={{ asset('css/style.css') }} rel="stylesheet" type="text/css" media="all"/>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <meta name="keywords" content=""/>

        <script type="application/x-javascript">
//            addEventListener("load", function () {
//                setTimeout(hideURLbar, 0);
//            }, false);
//            function hideURLbar() {
//                window.scrollTo(0, 1);
//            }
        </script>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href={{ asset('css/slider.css') }} type="text/css" media="screen"/>

        <script src="{{ asset('bower/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bower/sweetalert/dist/sweetalert.min.js') }}"></script>

        <script type="text/javascript" src={{ asset('js/jquery.nivo.slider.js') }}></script>

        <script src= {{ asset('js/script.js') }}></script>

        <script type="text/javascript">
            $(window).load(function () {
                $('#slider').nivoSlider();
            });
        </script>
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="header">
        {% block slider %}
            <div class="slider" style="height: 200px; overflow: hidden">
                <div class="slider-wrapper theme-default">
                    <div id="slider" class="nivoSlider">
                        <img src={{ asset('images/kaunas1.jpg') }} data-thumb={{ asset('images/kaunas1.jpg') }} alt=""/>
                        <img src={{ asset('images/kaunas2.jpg') }} data-thumb={{ asset('images/kaunas2.jpg') }} alt=""/>
                        <img src={{ asset('images/kaunas3.jpg') }} data-thumb={{ asset('images/kaunas3.jpg') }} alt=""/>
                       {# <img src={{ asset('images/1.jpg') }} data-thumb={{ asset('images/1.jpg') }} alt=""/>#}
                    </div>
                </div>
                <div class="header_desc">
                    <div class="logo">
                        <a href='{{ path('nfq_home_homepage') }}'><img src={{ asset('images/log2.png') }} alt=""/></a>
                    </div>
                </div>
            </div>
            <div class="header-bottom"></div>
        {% endblock %}
        {% block navigation %}
            <div id='cssmenu'>
                <ul>
                    <li><a href={{ path('nfq_home_homepage') }}><span>Pagrindinis</span></a></li>
                    {% if categories %}
                        <li class='active has-sub'><a href='#'><span>Kategorijos</span></a>
                            <ul>
                                {% for category in categories %}
                                    <li>
                                        <h4>
                                            <a href="{{ path('nfq_home_categories', {'categoryId': category.eventCategoryId}) }}">
                                                {% if category.categoryName == 'Koncertai' %}
                                                    <i class = "fa fa-microphone fa-lg"></i>
                                                {% endif %}
                                                {% if category.categoryName == 'Vakarėliai' %}
                                                    <i class = "fa fa-glass fa-lg"></i>
                                                {% endif %}
                                                {% if category.categoryName == 'Seminarai' %}
                                                    <i class = "fa fa-users  fa-lg"></i>
                                                {% endif %}
                                                {% if category.categoryName == 'Spektakliai' %}
                                                    <i class = "fa fa-ticket  fa-lg"></i>
                                                {% endif %}
                                                {% if category.categoryName == 'Parodos' %}
                                                    <i class = "fa fa-image  fa-lg"></i>
                                                {% endif %}
                                                {% if category.categoryName == 'Sportas' %}
                                                    <i class = "fa fa-futbol-o  fa-lg"></i>
                                                {% endif %}
                                                {% if category.categoryName == 'Vaikams' %}
                                                    <i class = "fa fa-child  fa-lg"></i>
                                                {% endif %}
                                                {% if category.categoryName == 'Iniciatyvos' %}
                                                    <i class = "fa fa-cogs  fa-lg"></i>
                                                {% endif %}
                                                {% if category.categoryName == 'Festivaliai' %}
                                                    <i class = "fa fa-bomb  fa-lg"></i>
                                                {% endif %}
                                                {% if category.categoryName == 'Minėjimai' %}
                                                    <i class = "fa fa-user  fa-lg"></i>
                                                {% endif %}
                                                <span style="float: right">{{ category.categoryName }}</span>
                                            </a>
                                        </h4>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    <li class='active has-sub'><a href='#'><span>Artimiausi Renginiai</span></a>
                        <ul>
                                <li>
                                    <h4>
                                        <a href='{{ path('nfq_home_closest', {'time': 'today'})}}'>
                                            <i class = "fa fa-clock-o  fa-lg"></i>
                                            <span style="float: right">Šiandienos</span>
                                        </a>
                                    </h4>
                                </li>
                            <li>
                                <h4>
                                    <a href='{{ path('nfq_home_closest', {'time': 'week'})}}'>
                                        <i class = "fa fa-calendar-o  fa-lg"></i>
                                        <span style="float: right">Savaitės</span>
                                    </a>
                                </h4>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="social-icons">
                    <ul class="social">
                        {% if app.user %}
                            <li class="user-name">Sveiki, {{ app.user.fullName }}! </li>
                            <li><a href="{{ path('logout') }}"><i></i></a></li>
                        {% else %}
                            <li class="user-name">Prisijunkite!</li>
                            <li><a href="{{ relative_path('/login/facebook') }}"><i></i></a></li>
                        {% endif %}
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </div>
        {% endblock %}
    </div>
</div>
{% block mainContent %}
{% endblock %}
<div class="container">
    {% block footer %}
        <div class="footer">
            <div class="footer-top">
                <div class="col-md-4 amet-sed ">
                    <h4>AtraskKAUNA komanda</h4>
                    <ul class="social-in">
                        <li class="mail"><a href="mailto:AtraskKauna@gmail.com"><i> </i> AtraskKauna@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-md-4 amet-sed ">
                    <h4>Prisijungti</h4>
                    <ul class="social">
                        {% if app.user %}
                            <li class="user-name">Sveiki, {{ app.user.fullName }}! </li>
                             <li><a href="{{ path('logout') }}"><i></i></a></li>
                        {% else %}
                            <li class="user-name">Prisijunkite!</li>
                            <li><a href="{{ relative_path('/login/facebook') }}"><i></i></a></li>
                        {% endif %}
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="copy">
            <p>© 2015 ATRASK KAUNA All Rights Reserved | Design by NFQ #2 Team </p>
        </div>
    {% endblock %}
</div>
</body>